<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>RESTful 7 Blog</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="ui header item">
                <a href="/">RESTful 7 Blog</a>
            </div>
            <a href="/posts" class="item">Home</a>
            <a href="/posts/new" class="item">New post</a>
            <div class="right menu">
                <a href="/login" class="item">Log in</a>
                <a href="/register" class="item">Sign up</a>
                <a href="" class="item">Profile</a>
                <a href="" class="item">Log out</a>
            </div>
        </div>
    </div>
    <div class="ui text container main">
        <div class="ui negative message">
            <!-- error message will display here -->
        </div>
        <div class="ui success message">
            <!-- success message will dispaly here -->
        </div>
    </div>
