<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>RESTful 7 Blog App</title>
</head>
<body>
     <div id="landing-header">
         <div class="ui huge header center">RESTful 7 Blog</div>
         <a class="positive ui button" href="/posts">Start Blogging!</a>
     </div>
     <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
     <script src="/dist/semantic.min.js"></script>
</body>
</html>